[submodule "modules/go-module"]
	path = modules/go-module
	url = https://github.com/shockdev04/altv-go-module
[submodule "altv-go-pkg"]
	path = altv-go-pkg
	url = https://github.com/Timo972/altv-go-pkg
